@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-text-color: #14213d;
  --secondary-text-color: #14214d;
  --accent-color: #fca311;
  --accent-color-dark: #eecd9c;
  --padding-inline-section: 20px;
  --nav-text-size: 1.5rem;
  --body-bg-color: #e5e5e5;
  --white-color: #fff;
}
.dark-mode-class {
  background-color: rgb(10, 10, 10);
  color: rgb(240, 240, 240);
  --primary-text-color: rgb(240, 240, 240);
  --secondary-text-color: rgb(215, 215, 215);
  --body-bg-color: rgb(10, 10, 10);
}

/* CSS Reset */
body {
  font-family: "Poppins", "sans-serif";
  color: var(--primary-text-color);
  background-color: var(--body-bg-color);
  scroll-behavior: smooth;
}

h1 {
  font-size: 3em; /* 48px */
}

h2 {
  font-size: 2.5em; /* 40px */
}

h3 {
  font-size: 2em; /* 32px */
}
h4 {
  font-size: 1.5em; /* 24px */
}
h5 {
  font-size: 1em; /* 16px */
}
p {
  font-family: "Rubik", "sans-serif";
  font-size: 1.2em;
  color: var(--secondary-text-color);
  line-height: 1.8rem;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul {
  list-style: none;
}
::selection {
  background-color: #3390ff;
  color: var(--white-color);
}

/* utility-class */
.container {
  max-width: 1180px;
  margin-inline: auto;
  overflow: hidden;
  padding-inline: var(--padding-inline-section);
}
.flex {
  display: flex;
  align-items: center;
}
.small-bold-text {
  font-size: 1rem;
  font-weight: 700;
}
.hover-links {
  color: var(--primary-text-color);
  transition: 0.2s ease-out;
}
.hover-links:hover {
  color: var(--accent-color);
}
.primary-button {
  background-color: var(--accent-color);
  border-radius: 6px;
  font-size: 18px;
  font-weight: 600;
  color: var(--primary-text-color) !important;
  padding: 14px 32px;
  transition: 0.2s ease-out;
  box-sizing: 0 0 2px var(--secondary-text-color);
  transition: all 0.3s ease-in-out;
  border: 1px solid var(--accent-color);
}

.primary-button:hover {
  background: none;
  transition: cubic-bezier(0.07, 1.41, 0.82, 1.41) 0.2s;
  transform: scale(1.02);
}
.secondary-button {
  border: 0.5px solid var(--accent-color);
  border-radius: 6px;
  font-weight: 600;
  font-size: 18px;
  color: var(--primary-text-color) !important;
  padding: 14px 32px;
  transition: border 0.2s ease-in-out;
}
.secondary-button:hover {
  border-color: var(--primary-text-color);
  transition: cubic-bezier(0.07, 1.41, 0.82, 1.41) 0.2s;
  transform: scale(1.02);
}

/* ----------------------------- */

/* nav-bar */
.main-nav {
  box-shadow: rgb(157 157 157 / 20%) 0px 4px 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(16px);
  z-index: 10;
}
.main-nav-container {
  justify-content: space-between;
}
.nav-links {
  flex-basis: 730px;
}
.nav-links ul {
  justify-content: end;
  gap: 40px;
}
.company-logo {
  padding-block: 12px;
  margin-right: 20px;
}

.nav-toggle {
  display: none;
  font-size: 2rem;
}
.close-nav-toggle {
  display: none;
  font-size: 2rem;
}

#dark-mode {
  font-size: 2rem;
  cursor: pointer;
}
.nav-links ul li svg {
  width: 45px;
  height: 45px;
  cursor: pointer;
}

/* btn-up */
.show {
  opacity: 1;
  pointer-events: auto;
  bottom: 30px;
  display: none;
}
.scroll-up-btn {
  position: fixed;
  height: 50px;
  width: 42px;
  background: #fca311;
  right: 30px;
  bottom: 25px;
  text-align: center;
  line-height: 50px;
  color: var(--secondary-text-color);
  z-index: 999;
  font-size: 30px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.scroll-up-btn i {
  display: inline-block;
  line-height: 1;
  font-weight: 900;
}

/* header section */
header {
  padding: 100px var(--padding-inline-section) 0;
}

.header-section {
  justify-content: center;
  gap: 2.5rem;
  padding: 20px;
  animation: fadeInUp 1s ease-in-out;
}
.header-left {
  width: 66%;
}
.header-right {
  width: 34%;
}

.header-left h1 {
  margin-top: 20px;
  position: relative;
}
.header-left h1 img {
  height: 4rem;
  position: absolute;
}
.header-left .get-started-btn {
  margin-top: 20px;
}
.header-left p {
  line-height: 30px;
}

.header-right img {
  width: 100%;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  margin-left: 50%;
  transform: translateX(-50%);
}

.header-left span,
.auto-typing {
  color: var(--accent-color);
}

.auto-typing {
  display: inline-block;
  position: relative;
  letter-spacing: 2px;
  white-space: nowrap;
  z-index: -100;
}
.auto-typing ::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.auto-typing::after {
  content: "|";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--body-bg-color);
  animation: typing 8s steps(11) infinite, blink 700ms linear infinite normal;
}

@keyframes typing {
  40%,
  60% {
    width: 0;
    left: 100%;
  }
  100% {
    width: 100%;
    left: 0;
  }
}
@keyframes blink {
  50% {
    color: transparent;
  }
}
.header-left h4 {
  margin-bottom: 20px;
  font-family: cursive;
}

.header-left :nth-child(5) {
  margin-left: 16px;
}

/* about-section */

.about-section {
  padding: 100px var(--padding-inline-section) 0;
  text-align: center;
}
.about-container {
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 50%;
}
.about-top {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}

.about-top > img {
  width: 50%;
  padding: 20px;
}

/* coding section */
.coding-profile {
  width: 100%;
  margin-top: 40px;
  padding-inline: 20px;
}

.coding-card-item {
  flex-direction: column;
  padding: 20px;
  margin-block: 20px;
  background-color: antiquewhite;
  border-radius: 20px;
  width: 100%;
  line-height: 1.5;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}
.coding-card-item:hover {
  background-color: var(--accent-color-dark);
}

.coding-card-item img {
  width: 40px;
  margin: 8px;
}
.coding-card-item a {
  color: var(--secondary-text-color);
  font-weight: bold;
}

.coding-card-item :nth-child(3) {
  font-size: 14px;
  color: #8f6a2a;
}

/* Project-section */
.project-section {
  padding: 100px var(--padding-inline-section) 0;
}
.project-container {
  justify-content: center;
  margin-block: 20px;
}

.project-section .container .p-btns {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
}
.project-section .container .p-btns .btn {
  background-color: antiquewhite;
  padding: 1.1rem 1.5rem;
  border: none;
  color: black;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  margin: 0 10px 0 10px;
  border-radius: 20px;
}
.p-active-btn {
  background-color: var(--accent-color-dark) !important;
  transition: 0.5s;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.project-section .container .p-btns .btn:hover {
  background-color: var(--accent-color-dark);
  transition: 0.5s;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.project-section .grid {
  display: grid;
  gap: 1rem;
}

.project-section .grid-three-column {
  grid-template-columns: repeat(3, 1fr);
}

.hidden {
  display: none;
}

.img-overlay {
  z-index: 0;
  height: 200px;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  border-radius: 10px;
}
.project-section img {
  width: 100%;
  height: 100%;
  display: inline-block;
  border-radius: 7px;
}
.img-overlay:hover {
  transition: all 0.5s ease 0s;
  /* box-shadow: 0 0 2px 2px var(--accent-color-dark); */
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 1);
}

.overlay {
  opacity: 1;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  transition: 0.3s linear;
  border-radius: 10px;
  flex-direction: column;
}
.overlay .p-view {
  justify-content: center;
  margin-top: 1rem;
  gap: 20px;
}

.overlay :nth-child(1) {
  color: white;
  font-weight: 600;
  font-size: 1.8rem;
}

.overlay :nth-child(2) {
  color: #e31b6d;
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.img-overlay:hover > .overlay {
  transform: translateY(0);
  opacity: 0.8;
  line-height: 1.5rem;
}
.overlay .p-view i {
  font-size: 2.8rem;
}
.overlay a {
  transition: 0.4s;
  border-radius: 50px;
  z-index: 2;
}

.p-btn--5 img {
  object-fit: contain;
  background-color: black;
}

/* skills section */
.skills-section {
  text-align: center;
  padding: 100px var(--padding-inline-section) 0;
}
.skill-section-more {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-block: 20px;
  animation: fadeInUp 1s ease;
}
.first-sec {
  flex-basis: 100%;
}
.second-sec {
  flex-basis: 100%;
}

.second-sec .skills {
  position: relative;
  display: flex;
  margin: 20px 0;
}

/* contact-section */
.contact-section {
  padding: 100px var(--padding-inline-section) 0;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contact-container {
  width: 50%;
  margin: 0 auto;
  z-index: 100;
  place-items: center;
  margin-block: 20px;
  padding-block: 20px;
}
form {
  animation: fadeInUp 1s ease;
}

/* Form Animation */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  height: 40px;
  font-size: 1.1rem;
  background: #f5f5f5;
  border: 1px solid var(--accent-color);
  margin-bottom: 20px;
  border-radius: 8px;
  outline: none;
  padding: 5px 10px;
  transition: border-color 0.3s ease;
}
.contact-form input:focus {
  border: 2px solid var(--accent-color);
}
.contact-form textarea:focus {
  border: 2px solid var(--accent-color);
}
.contact-form .contact-btn {
  position: relative;
  float: right;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 30px;
  margin-bottom: 2.3px;
  margin-top: -20px;
}

#msg {
  height: 180px;
  resize: vertical;
}

/* footer-section */
footer {
  padding: 80px var(--padding-inline-section) 40px;
  margin-top: 100px;
  background-color: #ffffff;
}
.footer-container {
  align-items: center;
  padding: 20px;
}
.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 1.5rem;
  flex-wrap: wrap;
}
.icon {
  color: rgb(232, 230, 227);
}
.icon {
  padding: 10px;
  cursor: pointer;
  border-radius: 2.6rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.3rem;
  line-height: 2.6rem;
  margin: 0 5px 10px;
  position: relative;
  text-align: center;
  transition: 0.3s ease-in;
  -webkit-user-select: none;
  user-select: none;
  /* width: 2.6rem; */
}
.icon:hover {
  background-color: #000;
}
.git {
  background-color: #333;
}
.linkedin {
  background-color: #0077b5;
}
.fa-twitter {
  background-color: #26a7de;
}
.fa-whatsapp {
  background-color: #128c7e;
}
.fa-envelope {
  background-color: #c71610;
}
.social-icon i {
  color: #fff;
}

.social-icon a {
  color: #000;
}

/* Media Queries */

@media (max-width: 968px) {
  html {
    font-size: 15px;
  }
  .header-left .name-anim {
    display: block;
  }
  .header-left {
    width: 100%;
  }
  .header-right {
    width: 80%;
  }
  .header-right img {
    width: 100%;
    /* width: 60%; */
  }
  .project-section .container .p-btns .btn {
    font-size: 1rem;
  }
}

@media (max-width: 835px) {
  .project-section .container .p-btns .btn {
    font-size: 0.81rem;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 16px;
  }

  #nav-toggle {
    display: block;
  }
  .nav-links .active {
    left: -100%;
  }
  .nav-links-active {
    background-color: #14213d;
    display: block;
    left: 0;
    flex-direction: column;
    width: 60%;
    min-width: 40%;
    height: 100vh;
    position: absolute;
    padding-block: 3rem;
    padding-inline: 2rem;
    top: 0;
    transition: all 1s;
    color: var(--accent-color);
    font-size: 1.2rem;
  }

  .nav-links-active .secondary-button {
    color: white !important;
    margin-bottom: 10px;
    padding: 10px 20px 10px 10px;
  }
  .nav-links-active .primary-button {
    margin-bottom: 15px;
  }
  #light-mode {
    fill: white;
  }

  .nav-links-active li a {
    margin: 5px 0;
    padding: 10px;
    cursor: pointer;
  }
  .close-nav-toggle a i {
    color: white;
    font-weight: 900;
  }
  .nav-links-active li a {
    color: var(--accent-color);
  }
  .close-nav-toggle {
    display: block;
  }
  .header-section {
    flex-direction: column;
  }

  .header-right {
    width: 100%;
  }
  .header-right img {
    width: 60%;
  }
  .about-container {
    width: 100%;
  }
  .about-section {
    padding-block: 40px;
  }
  .about-top > img {
    /* width: 100%; */
    width: 60%;
    margin-bottom: 20px;
  }

  .about-section .about-container p {
    width: 100%;
  }
  .project-container {
    padding: 0;
  }
  .skill-section-more .first-sec h3 {
    margin-top: 0;
  }
  .about-section {
    padding: 20px var(--padding-inline-section) 0;
  }
  .about-top {
    flex-direction: column;
  }
  .coding-profile {
    margin-top: 15px;
  }
  .coding-card {
    flex-wrap: wrap;
  }
  .coding-profile {
    padding-inline: 0;
    margin-block: 10px;
  }
  .coding-profile h4 {
    margin-bottom: 10px;
  }
  .coding-card-item {
    margin-block: 0;
  }

  .project-section {
    padding: 20px var(--padding-inline-section) 0;
  }
  .project-container {
    justify-content: center;
  }
  .project-section .container .p-btns {
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 10px; */
    row-gap: 10px;
  }
  .project-section .grid-three-column {
    grid-template-columns: repeat(2, 1fr);
  }
  .project-items {
    width: 100%;
  }
  .skills-section {
    padding: 40px var(--padding-inline-section) 0;
  }
  .skill-section-more {
    flex-direction: column-reverse;
    margin-block: 0;
    gap: 0;
  }
  .skill-section-more .second-sec {
    width: 100%;
  }
  .contact-container {
    margin-block: 0;
  }
  .contact-section {
    padding: 40px var(--padding-inline-section) 0;
  }
  .contact-container {
    width: 100%;
  }
  footer {
    margin-top: 20px;
    padding-block: 20px;
  }
  .company-logo {
    padding-block: 0;
  }
  .header-section {
    padding: 0;
  }
  .about-section h2 {
    margin: 0 !important;
  }
  .container {
    padding-inline: 0;
  }
  .main-nav {
    padding-inline: 20px;
  }
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  h3 {
    /* font-size: 2rem; */
    font-size: 1.8rem;
  }

  h4 {
    font-size: 1.75rem;
  }

  h5 {
    font-size: 1rem;
  }

  p {
    font-size: 1rem;
  }
  .header-left h1 {
    margin-top: 0;
  }
  .primary-button {
    font-size: 1rem;
  }
  .secondary-button {
    font-size: 1rem;
  }
  .social-icon {
    font-size: 1rem;
    gap: 18px;
  }
}

@media (max-width: 625px) {
  .header-left .name-anim {
    display: block;
  }
}

/* mobile */

@media (max-width: 480px) {
  html {
    font-size: 16px;
  }
  .scroll-up-btn {
    width: 30px;
    height: 35px;
    bottom: 70px;
    line-height: 0;
  }
  .scroll-up-btn i {
    font-size: 16px;
    margin-top: 50%;
    transform: translateY(-25%);
  }

  #resume {
    margin: 0;
    margin-top: 15px;
  }
  .nav-links-active {
    width: 60%;
    min-width: 40%;
  }

  .header-left .name-anim {
    display: block;
  }
  .about-top {
    padding: 0;
  }
  .coding-profile {
    padding-inline: 0;
  }
  .project-section .grid-three-column {
    grid-template-columns: repeat(1, 1fr);
  }

  .project-section .container .p-btns .btn {
    padding: 10px 15px;
    margin: 0 6px;
  }
  .header-section {
    padding: 0;
  }
  .header-left h1 img {
    max-height: 50px;
    margin-left: 10px;
  }
  .company-logo > img {
    width: 40px;
    height: 40px;
  }

  .header-left p {
    line-height: 1.8rem;
  }
  .primary-button {
    font-size: 1rem;
    padding: 10px 20px;
  }
  .secondary-button {
    font-size: 1rem;
    padding: 10px 20px;
  }
  .contact-form .contact-btn {
    padding: 10px 20px;
  }
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    /* font-size: 2rem; */
    font-size: 1.55rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1rem;
  }

  p {
    font-size: 1rem;
  }
  .header-left h1 {
    margin-top: 0;
  }
  .primary-button {
    font-size: 1rem;
  }
  .secondary-button {
    font-size: 1rem;
  }
  .social-icon {
    font-size: 1rem;
    gap: 18px;
  }
}
